.photo-full {
  height: 170px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.identity-side-nav {
  padding: 5px 10px;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba($color: #e0e0e0, $alpha: 0.82);
}

.nik {
  font-size: 16px;
  font-weight: 800;
}
