<label class="custom-label-form">{{ data.label }}</label>
<ng-container *ngIf="data.range === true; then daterange; else datesingle">
</ng-container>

<ng-template #daterange>
  <mat-form-field appearance="legacy" fxFlex.lt-sm="100">
    <!-- <mat-label class="mat-h3">{{ data.label }}</mat-label> -->
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input
        matStartDate
        formControlName="start"
        placeholder="Tanggal Mulai"
        [readonly]="data.disabled"
        (dateChange)="changeDate('start:=', $event)"
      />
      <input
        matEndDate
        formControlName="end"
        placeholder="Tanggal Selesai"
        [readonly]="data.disabled"
        (dateChange)="changeDate('end:=', $event)"
      />
    </mat-date-range-input>
    <mat-hint>Tanggal/Bulan/Tahun</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      [disabled]="data.disabled"
      mat-mini-fab
    ></mat-datepicker-toggle>
    <mat-date-range-picker [dateClass]="dateClass" #picker></mat-date-range-picker>
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
      >Tanggal Mulai Tidak Valid</mat-error
    >
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
      >Tanggal Selesai Tidak Valid</mat-error
    >
  </mat-form-field>
</ng-template>

<ng-template #datesingle>
  <mat-form-field appearance="legacy" fxFlex.lt-sm="100">
    <!-- <mat-label class="mat-h3">{{ data.label }}</mat-label> -->
    <input
      matInput
      [name]="data.name"
      [matDatepicker]="picker"
      [value]="data.data[0]"
      [readonly]="data.disabled"
      (dateChange)="changeDate('', $event)"
    />
    <mat-hint>Tanggal/Bulan/Tahun</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      [disabled]="data.disabled"
    ></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
    
  </mat-form-field>
</ng-template>
