@import "~@angular/material/theming";

// Define the default theme (same as the example above).
$light-primary: mat-palette($mat-blue, 700, 400, 800);
$light-accent: mat-palette($mat-yellow, 500, A200, 800);
$light-theme: mat-light-theme($light-primary, $light-accent);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue, A200, 200, A700);
$dark-accent: mat-palette($mat-amber, 500, A200, 800);
$dark-warn: mat-palette($mat-deep-orange, A700);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
