@import "~@angular/material/theming";

// Define the default theme (same as the example above).
$light-primary: mat-palette($mat-blue, A400, A100, 800);
$light-accent: mat-palette($mat-cyan, A400, A200, 600);
$light-theme: mat-light-theme($light-primary, $light-accent);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-light-blue, 800, 500, 900);
$dark-accent: mat-palette($mat-teal, 300, 100, 400);
$dark-warn: mat-palette($mat-deep-orange, A700);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
