<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="0px"
  style="
    height: calc(100% - 64px) !important;
    min-height: calc(100% - 64px) !important;
  "
>
  <mat-card>
    <mat-card-title><h1>Forget Password</h1></mat-card-title>
    <mat-card-content
      fxLayout="row"
      fxLayoutAlign="space-around start"
      fxLayoutGap="10px"
      fxLayout.lt-md="column"
    >
      <form [formGroup]="forgetForm" fxLayoutGap="10px">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="
              email.invalid &&
              (email.dirty || email.touched) &&
              email.errors.required
            "
            >Email belum terisi.</mat-error
          >
          <mat-error
            *ngIf="
              email.invalid &&
              (email.dirty || email.touched) &&
              email.errors.email
            "
            >Email tidak valid.</mat-error
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions
      fxLayout="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="gappx"
    >
      <button mat-button color="accent" [routerLink]="['/login']">Login</button>
      <button mat-raised-button color="primary">Send Recovery Email</button>
    </mat-card-actions>
  </mat-card>
</div>
