<div class="container-list">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-form-field appearance="fill">
      <mat-label>Cari Data</mat-label>
      <input matInput type="text" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of data" [value]="option">
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <mat-list class="data-list">
    <mat-list-item *ngFor="let d of data" (click)="goToDetail(d.id)">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="2px"
        style="margin: 3px 3px;"
      >
        <div
          fxFlex="grow"
          fxLayout="column"
          fxLayoutAlign="start start"
          fxLayoutGap="2px"
        >
          <div class="mat-h3">{{ d.title }}</div>
          <div class="mat-caption">{{ d.subtitle }}</div>
        </div>
        <div fxFlex>{{ d.status }}</div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
