<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="0px"
  style="
    height: calc(100% - 64px) !important;
    min-height: calc(100% - 64px) !important;
  "
>
  <mat-card>
    <mat-card-title><h1>Login</h1></mat-card-title>
    <mat-card-content
      
    >
      <form [formGroup]="loginForm" 
            fxLayout="col"
            fxLayoutAlign="space-around center"
            fxLayoutGap="10px"
            fxFill
            fxLayout.lt-md="column">
        <mat-form-field appearance="fill" style="width:100%;">
          <mat-label>NIK</mat-label>
          <mat-icon matPrefix>perm_identity</mat-icon>
          <input matInput formControlName="Nik" />
          <mat-error
            *ngIf="
              Nik.invalid && (Nik.dirty || Nik.touched) && Nik.errors.required
            "
            >NIK belum terisi.</mat-error
          >
          <mat-error
            *ngIf="
              Nik.invalid && (Nik.dirty || Nik.touched) && Nik.errors.pattern
            "
            >NIK hanya bisa menerima masukan angka.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:100%;">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input
            matInput
            formControlName="Password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              Password.invalid &&
              (Password.dirty || Password.touched) &&
              Password.errors.required
            "
            >Password belum terisi.</mat-error
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions
      fxLayout="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="gappx"
    >
      <button mat-button color="accent" [routerLink]="['/forget-password']">
        Forget
      </button>
      <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid && !process">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
